@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Coś</h2>
    <h2>Michał</h2>
    <h3>1234</h3>
    <h2>Filip</h2>
    <h3>Test</h3>
</div>
