@model CarRentalStudio.Models.Car

@{
    ViewData["Title"] = "Details";
}

@{
   
   
    
}

<table id="reservationCalendar">
    <thead>
        <tr>
            <td>
                <<
            </td>
            <td colspan="5">
                
            </td>
            <td>
                >>
            </td>
        </tr>
    </thead>
    <tr>
        <td>
            Mon
        </td>
        <td>
            Tue
        </td>
        <td>
            Wed
        </td>
        <td>
            Thu
        </td>
        <td>
            Fri
        </td>
        <td>
            Sat
        </td>
        <td>
            Sun
        </td>
    </tr>


