<div class="footer">
    <div class="footerBox">
        <div id="przeczytales"><p>Przeczytałeś <br> wszystko? ⭢</p></div>
        <div class="footerBox-content">
            <h1>Spodobała Ci się nasza oferta? </h1>
            <h1 id="kontakt">Skontaktuj się z nami!</h1>
        </div>
    </div>
    <div class="footerSmallBox"><h1>Kochamy Motoryzacje Tak samo  jak Ty</h1></div>
    <div class="footerSmallBox">
        <h3>Poznan</h3><br>
        <p>
            CarRentalStuio.poznan@gmail.com <br>
            +48 999 999 999 <br>
            ul. Świętego Jana 12c <br>
            Poznań 21-370 <br>
        </p>
        <br>
        <p id="mapa">Sprawdz na mapie</p>
    </div>
    <div class="footerSmallBox">
        <h3>Warszawa</h3><br>
        <p>
            CarRentalStuio.warszawa@gmail.com <br>
            +48 888 888 888 <br>
            ul. Świętego Pawła 8d <br>
            Poznań 69-320 <br>
        </p>
        <br>
        <p id="mapa">Sprawdz na mapie</p>
    </div>
</div>
<script>
        document.querySelector('.review-form form').addEventListener('submit', async function (e) {
        e.preventDefault();

        const formData = new FormData(this);
        const response = await fetch(this.action, {
            method: 'POST',
            body: formData
        });

        if (response.ok) {
            // Odśwież listę opinii
            const newReviews = await response.text();
            document.querySelector('.reviews-list').innerHTML = newReviews;
            this.reset();
        }
    });
</script>
